.card {
    border-radius: 7px;
    padding: 0.5rem 0.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    transition: all 0.6s;
  }
  
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .card:hover .arrow {
    visibility: visible;
    opacity: 1;
    transform: translate(10px);
  }
  
  .card__header img {
    border-radius: 7px;
    width: 100%;
    height: 23.75rem;
  }
  
  .card__body {
    display: flex;
    padding: 1rem 2.5rem 1rem 1rem;
    justify-content: space-between;
  }
  .arrow {
    visibility: hidden;
    opacity: 0.2;
    transition: all 0.4s;
  }
  .card__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  
  .card__description > .text-secondary {
    font-size: 1rem;
    margin: 0;
  }
  .animes-gallery {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 1.3rem;
  }
  
  @media screen and (max-width: 1080px) {
    .animes-gallery {
      padding-top: 4rem;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(3, 25%);
      gap: 1.3rem;
    }
  }
  
  @media screen and (max-width: 900px) {
    .animes-gallery {
      padding-top: 4rem;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(2, 40%);
      gap: 1.3rem;
    }
  }
  @media screen and (max-width: 768px) {
    .animes-gallery {
      padding-top: 4rem;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(1, 75%);
      gap: 1.3rem;
    }
  }
  
  .animes-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .preview img {
    max-width: 16rem;
  }
  .preview__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }