.header {
  grid-area: header;
  background-color: var(--color-primary);
  height: 60px;
  padding: 1rem;
  font-size: large;
  color: white;
}
.main {
  margin-top: 3rem ;
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
  background-color: rgba(6, 0, 3, 0.1) ;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  grid-template-areas: 
    "header header header"
    "sidebar main main";
}
@media screen and (max-width: 1080px) {
  .main-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "main main";
  }
}